<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@number_of_words.count_of_words %></h2>
<h2>Vowels: <%=@vowels.count_of_vowels %></h2>

<h2>Consonants: <%=@consonants.count_of_consonants %></h2>

<h2>Most Common Letter: _<%=@most_common_letter.most_used_letter %>____ used __<%=@used_times.most_used_letter%>___ times</h2>
